<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="navbar navbar-inverse" role="navigation" bs-navbar>
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">NoteTaker</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#/">Home</a></li>
				<li><a href="#/notes">Notes</a></li>
				<li><a href="#/about">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/">Login</a></li>
				<li><a href="#/register">Register</a></li>
				<li><a href="#/">Logout</a></li>
				<a class="navbar-brand" href="#/"></a>
			</ul>
		</div>
		<!--/Nav-->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-pull-4">
					<h3>Notes</h3>
					<div class="list-group">
						<a href="#" class="list-group-item">GROCERIES</a>
						<a href="#" class="list-group-item">SOMETHING</a>
						<a href="#" class="list-group-item">SOMETHING ELSE</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>